*{
    border: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0px;
    height: 100px;
    color: grey;
    background-color: #000000
}

.logo{
    position: absolute;
    top: 0px;
    bottom: 0px;
    font-weight: bold;
    height: fit-content;
    margin: auto 0px;
    left: 15px;
    color: white;
}

.nav
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto 0px;
    height: fit-content;
    font-family: cursive;
}

.nav-item{
    display: inline;
    margin: 0px 15px;
}

.nav-item.active{
    color:#ffffff
}

.nav-item.button > button{
    padding: 10px 20px;
    background: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
    font-family: cursive;

}

main{
    padding: 10px;
}

section{
    margin-top: 10px;
}